---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "minima";

.about {
  .header {
    align-items: center; 
    display: flex;
    flex-direction: column;
    
    .portrait {
      background-image: url('/assets/portrait.jpg');
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 50%;
      height: 180px;
      margin-bottom: 20px;
      width: 180px;
    }

    .intro-text {
      margin-bottom: 30px;
      position: relative;

      .quotation {
        padding: 5px 5px 5px 15px;
      }
     
      .quotation::before {
        content: "";
        width: 4px;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: #ddd;
      }
    }
  }
}
